
.hide-prepared{
  display: none !important;
}

.hide-nonbulk{
  display: none !important;
}

.hide-subhire {
    display: none !important;
}

.hide-nonsub{
    display: none !important;
}

.hide-nonshort{
  display: none !important;
}


.message-zone{
  display: inline;
  font-size: 28px;
  color: red;
}


.helper-spacer{
  color: transparent;
  background-color: transparent;
}

.helper-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    /* background-color: #f8f8f8; */
    background-color: #ffeb3b;
    color: #666666;
    direction: rtl;
    margin-right: 2px;
}

.helper-btn:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
}

.helper-btn:hover,.helper-btn:focus {
    color: #fff;
    text-decoration: none;
    background-color: gold;
}

.helper-btn:active,.helper-btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
}

.helper-btn.disabled,.helper-btn[disabled],fieldset[disabled] .helper-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}

.helper-btn-default {
    color: #fff;
    background-color: #b3b3b3;
    border-color: #ccc
}

.helper-btn-default:hover,.helper-btn-default:focus,.helper-btn-default:active,.helper-btn-default.active {
    color: #fff;
    background-color: #9f9f9f;
    border-color: #adadad
}

.helper-bar{
  width: 100%;
  margin-bottom: 5px;
  margin-left: 0px;
}

.help-active, .turned-on {
  background-color: red !important;
  color: white !important;
}


.inspect-link{
  background-color: #81bc00;
  font-weight: bold;
}

.inspect-link: hover{
  background-color: #a6db00 !important;
}


.inspect-link:before, .inspect-link:after{
  content: "\00a0 ";
}

.product-tip {
  float: right;
  cursor: pointer;
}

/* The Modal (background) */
.product-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2000; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.product-modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
}

/* Caption of Modal Image */
.product-modal-caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 10px 0;

}



/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .product-modal-content {
    width: 100%;
  }
}


td.item-description-cell{
  padding-left:30px;
  font-style: italic;
  color: grey;
}

.hide-description {
  display: none !important;
}

.modal-header{
  position: sticky !important;
  top: 0 !important;
  z-index: 500 !important;
}

span.loss-warning {
  background-color: red;
  color: white;
  padding: .1em .4em .2em;
  border-radius: .25em
}

.popover-help-added{
  cursor:help;
}


.cost-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.cost-tooltip .cost-tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;

  opacity: 0;
  transition: opacity 0.3s;
}

.cost-tooltip .cost-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 25%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.cost-tooltip:hover .cost-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.makeItalic {
  font-style: italic;
}

.toast-link{
  text-decoration: underline;
}


.availability-count{
  float: right; /* Push the second span to the right */
  text-align: right;
  color: grey;
  font-style: italic;
}

.avail-short{
  color: red !important;
}

.avail-good{
  color: green !important;
}


div.float-left{
  float: left;
}

div.float-right{
  float: right;
}

.helper-control-panel{
  padding-right: 15px;
  padding-left: 15px;
}

.quantity-column{
  display: table-cell !important;
}

.cost-warning{
  color: red;
}

.mismatch-warning{
  color: DarkOrange;
}


.days-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.days-tooltip .days-tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 130%;

  opacity: 0;
  transition: opacity 0.3s;
}

.days-tooltip .days-tooltiptext::after {
  content: " ";
  position: absolute;
  top: 25%;
  left: 100%; /* To the right of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.days-tooltip:hover .days-tooltiptext {
  visibility: visible;
  opacity: 1;
}



.cost-group-total{
  float:right;
  padding-right: 5px;
  font-weight: normal;
  color: grey;
  font-size: 14px;
}

.cost-group-name{
  float: left;
}

.status-column{
  width: 80px !important;
}

.quantity-column{
  width: 65px !important;

}

.force-left{
  text-align: left !important;
  padding-left: 5px;
}

.editable-special{

}

.availability-column{
  width: 50px;
}

.force-display-block{
  display: block !important;
}

.unallocated{
  background-color: rgba(255,255,0,0.5) !important;
}

.unallocated.shortage{
  background-color: rgba(204,0,30,0.25) !important;
}

.allocation-detail{
  font-style: italic;
  padding-left: 30px;
}

a.allocation-link{
  color: black !important;
}

.subcontainer{
  font-style: italic;
}

.container-error{
  color: red;
}

.btn-success{
  overflow: visible !important;
}

.block-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1500;
    pointer-events: auto; /* Prevent clicks on content underneath */

    /* Flexbox to center the content */
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
    color: white; /* White text color */
    font-size: 4em; /* Larger text size */
    text-align: center; /* Center text alignment */
    padding: 20px; /* Padding for text */
}






.warehouse-tooltip {
  position: relative;
  display: inline-block;
  cursor:help;
}

.warehouse-tooltip .warehouse-tooltiptext {
  visibility: hidden;
  min-width: 400px;
  overflow-wrap: break-word;
  max-width: 800px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
  opacity: 0;
  transition: opacity 0.3s;
}

.warehouse-tooltip:hover .warehouse-tooltiptext {
  visibility: visible;
  opacity: 1;
}
